<!DOCTYPE html>
<head>
    <title>Certificates</title> 
    <link rel="stylesheet" href="../static/certificatestyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
</head>
<body>
    <div class="section">
        <h1>Coursera Certificates</h1>
        <div class="Certificates">
            <div class="together">
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/Coursera.png">  
                        </div>
                        <div class="details">
                            <h3>BlockChain Basics</h3>
                            <p>It is a digital ever-growing list of data records</p>
                        </div>
                    </div>
                    <div class="navigation1">
                        <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/Coursera/Coursera BlockChain Basics.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/Coursera.png">  
                        </div>
                        <div class="details">
                            <h3>Arduino Devices</h3>
                            <p>These are Devices used to make Arduino Robots</p>
                        </div>
                    </div>
                    <div class="navigation2">
                        <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/Coursera/Coursera Building Arduino robots and devices.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/Coursera.png">  
                        </div>
                        <div class="details">
                            <h3>Successful Presentation</h3>
                            <p>The Art of Presenting Something</p>
                        </div>
                    </div>
                    <div class="navigation3">
                        <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/Coursera/Coursera Successful Presentation.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/Coursera.png">  
                        </div>
                        <div class="details">
                            <h3>Addicted Brain</h3>
                            <p>Study of Addective Nature of your Brain</p>
                        </div>
                    </div>
                    <div class="navigation4">
                        <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/Coursera/Coursera The Addicted Brain.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
    
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/Coursera.png">  
                        </div>
                        <div class="details">
                            <h3>Business Transformation</h3>
                            <p>Business Transformation with Google Cloud
                            </p>
                        </div>
                    </div>
                    <div class="navigation5">
                        <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/Coursera/Coursera Business Transformation with Google Cloud.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/Coursera.png">  
                        </div>
                        <div class="details">
                            <h3>Contact Tracing</h3>
                            <p>COVID-19 Contact Tracing For Nursing
                                Professionals</p>
                        </div>
                    </div>
                    <div class="navigation6">
                        <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/Coursera/Coursera Covid-19 Contact Tracing.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/Coursera.png">  
                        </div>
                        <div class="details">
                            <h3>Covid 19 : Information</h3>
                            <p>COVID-19: What You Need to Know (CME Eligible)
                            </p>
                        </div>
                    </div>
                    <div class="navigation7">
                        <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/Coursera/Coursera Covid-19.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
            </div>
        
            <div class="together">
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/Coursera.png">  
                        </div>
                        <div class="details">
                            <h3>Game Theory (Python)</h3>
                            <p>Study of strategic interactions between several players.
                            </p>
                        </div>
                    </div>
                    <div class="navigation8">
                        <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/Coursera/Coursera Game Theory with Python.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/Coursera.png">  
                        </div>
                        <div class="details">
                            <h3>Healthy Practices</h3>
                            <p>Nutrition, Physical Activity,
                                Community and Family Participation
                                </p>
                        </div>
                    </div>
                    <div class="navigation9">
                        <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/Coursera/Coursera Healthy Practices.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/Coursera.png">  
                        </div>
                        <div class="details">
                            <h3>Internet of Things</h3>
                            <p>Wireless & Cloud
                                Computing Emerging Technologies
                                </p>
                        </div>
                    </div>
                    <div class="navigation10">
                        <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/Coursera/Coursera IoT.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/Coursera.png">  
                        </div>
                        <div class="details">
                            <h3>Mind Control</h3>
                            <p>Managing Your Mental Health
                                During COVID-19</p>
                        </div>
                    </div>
                    <div class="navigation11">
                        <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/Coursera/Coursera Mind Control.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/Coursera.png">  
                        </div>
                        <div class="details">
                            <h3>Science of Exercise</h3>
                            <p>Teaches about Exercises which are good for your health</p>
                        </div>
                    </div>
                    <div class="navigation12">
                        <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/Coursera/Coursera Science of Exercise.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
    
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/Coursera.png">  
                        </div>
                        <div class="details">
                            <h3>The Arduino Platform</h3>
                            <p>The Arduino Platform and C Programming</p>
                        </div>
                    </div>
                    <div class="navigation13">
                        <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/Coursera/Coursera The Arduino Platform.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/Coursera.png">  
                        </div>
                        <div class="details">
                            <h3>Time Management</h3>
                            <p>This Course deals with the Principles of Working Smarter Not Harder.</p>
                        </div>
                    </div>
                    <div class="navigation14">
                        <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/Coursera/Coursera Time Management.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
            </div>
        </div><br>

        <!--Skill Up-->

        <h1>SkillUp Certificates</h1>
        <div class="Certificates">
            <div class="together">
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/simplilearn.png">  
                        </div>
                        <div class="details">
                            <h3>Digital Transformation</h3>
                            <p>Business Transformation with Google Cloud
                            </p>
                        </div>
                    </div>
                    <div class="navigation15">
                        <a href="https://simpli-web.app.link/e/gLTLry3merb"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/SkillUp/Digital_Transformation.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/simplilearn.png">  
                        </div>
                        <div class="details">
                            <h3>Android Studio</h3>
                            <p>Introduction to Android Studio Course</p>
                        </div>
                    </div>
                    <div class="navigation16">
                        <a href="https://simpli-web.app.link/e/gLTLry3merb"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/SkillUp/Introduction_to_Android_Studio_Course.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/simplilearn.png">  
                        </div>
                        <div class="details">
                            <h3>MS Excel</h3>
                            <p>Powerfull tools to make Excel More Usefull</p>
                        </div>
                    </div>
                    <div class="navigation17">
                        <a href="https://simpli-web.app.link/e/gLTLry3merb"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/SkillUp/Introduction_to_MS_Excel.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
            </div>
        
            <div class="together">
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/simplilearn.png">  
                        </div>
                        <div class="details">
                            <h3>Six Sigma</h3>
                            <p>These are the a set of techniques and tools for process improvement.</p>
                        </div>
                    </div>
                    <div class="navigation18">
                        <a href="https://simpli-web.app.link/e/gLTLry3merb"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/SkillUp/Introduction_to_Six_Sigma.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
    
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/simplilearn.png">  
                        </div>
                        <div class="details">
                            <h3>S Q L</h3>
                            <p>Structure Query Language: Basic Knowledge</p>
                        </div>
                    </div>
                    <div class="navigation19">
                        <a href="https://simpli-web.app.link/e/gLTLry3merb"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/SkillUp/Introduction_to_SQL.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
                <div class="list">
                    <div class="user">
                        <div class="imgBx">
                            <img src="../static/images/simplilearn.png">  
                        </div>
                        <div class="details">
                            <h3>JAVA</h3>
                            <p>This Course Deals with the Basics of JAVA Programing Language</p>
                        </div>
                    </div>
                    <div class="navigation20">
                        <a href="https://simpli-web.app.link/e/gLTLry3merb"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <a href="../static/Certificates/SkillUp/Java_Certification_Course.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!--Tournaments-->


        <h1>Tournament Certificates</h1>
            <div class="Certificates">
                <div class="together">
                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/lead.png">  
                            </div>
                            <div class="details">
                                <h3>Leadership</h3>
                                <p>Introduction to Android Studio Course</p>
                            </div>
                        </div>
                        <div class="navigation21">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/Tournament/2nd-Group B.PDF"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>
                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/innovacon.png">  
                            </div>
                            <div class="details">
                                <h3>INNOVACON</h3>
                                <p>Powerfull tools to make Excel More Usefull</p>
                            </div>
                        </div>
                        <div class="navigation22">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/Tournament/Niryana 3.0 BPlan.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>
                </div>
                
                <div class="together">
            
                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/niryana.png">  
                            </div>
                            <div class="details">
                                <h3>Niryana BPlan</h3>
                                <p>Structure Query Language: Basic Knowledge</p>
                            </div>
                        </div>
                        <div class="navigation23">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/Tournament/BPlan.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>
                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/Ureckon.jpg">  
                            </div>
                            <div class="details">
                                <h3>Ureckon</h3>
                                <p>This Course Deals with the Basics of JAVA Programing Language</p>
                            </div>
                        </div>
                        <div class="navigation24">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/Tournament/UIC Certificates Bulk-41 (1).pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>
                </div>
            </div>
                
            <!--Internship Certificate-->

            <h1>Internship Certificates</h1>
            <div class="Certificates">
                <div class="together">
                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/E.V.S.png">  
                            </div>
                            <div class="details">
                                <h3>E . V . S</h3>
                                <p>Internship of Marketing Campaigns</p>
                            </div>
                        </div>
                        <div class="navigation25">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/Internship/Marketing Certificate.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>
                </div>
                
                <div class="together">
            
                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/E.V.S.png">  
                            </div>
                            <div class="details">
                                <h3>E . V . S</h3>
                                <p>Internship on Website Development</p>
                            </div>
                        </div>
                        <div class="navigation26">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/Internship/Website Certificate.pdf"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Microsoft Certificate-->
        
            <h1>Microsoft Certificates</h1>
            <div class="Certificates">
                <div class="together">
                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/MicroSoft.png">  
                            </div>
                            <div class="details">
                                <h3>DB SQL API</h3>
                                <p>Create server-side programming construc
                                    Cosmos DB SQL API</p>
                            </div>
                        </div>
                        <div class="navigation27">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/MicroSoft/Achievements - ShomridhyaGhosh-3569 _ Microsoft Docs(1).PDF"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>

                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/Microsoft.png">  
                            </div>
                            <div class="details">
                                <h3>Power BI</h3>
                                <p>Get started building with Power BI</p>
                            </div>
                        </div>
                        <div class="navigation28">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/MicroSoft/Achievements - shomridhyaghosh-3569 _ Microsoft Docs(10).PDF"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>

                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/Microsoft.png">  
                            </div>
                            <div class="details">
                                <h3>Python</h3>
                                <p>Explore and analyze data with Python</p>
                            </div>
                        </div>
                        <div class="navigation29">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/MicroSoft/Achievements - shomridhyaghosh-3569 _ Microsoft Docs(11).PDF"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>

                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/Microsoft.png">  
                            </div>
                            <div class="details">
                                <h3>Azure Cosmos</h3>
                                <p>Build multi-item transactions with the Azure Cosmos
                                    DB SQL API</p>
                            </div>
                        </div>
                        <div class="navigation30">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/MicroSoft/Achievements - shomridhyaghosh-3569 _ Microsoft Docs(12).PDF"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>

                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/Microsoft.png">  
                            </div>
                            <div class="details">
                                <h3>DB SQL API</h3>
                                <p>Expand query and transaction functional
                                    Cosmos DB SQL API
                                    </p>
                            </div>
                        </div>
                        <div class="navigation31">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/MicroSoft/Achievements - shomridhyaghosh-3569 _ Microsoft Docs(13).PDF"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>

                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/Microsoft.png">  
                            </div>
                            <div class="details">
                                <h3>Programing</h3>
                                <p>Introduction to programming</p>
                            </div>
                        </div>
                        <div class="navigation32">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/MicroSoft/Achievements - shomridhyaghosh-3569 _ Microsoft Docs(14).PDF"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>

                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/Microsoft.png">  
                            </div>
                            <div class="details">
                                <h3>Web Accessibility</h3>
                                <p>The basics of Web Accessibility</p>
                            </div>
                        </div>
                        <div class="navigation33">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/MicroSoft/Achievements - shomridhyaghosh-3569 _ Microsoft Docs(15).PDF"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>

                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/Microsoft.png">  
                            </div>
                            <div class="details">
                                <h3>Web Development</h3>
                                <p>Build a simple website using HTML, CSS
                                    JavaScript</p>
                            </div>
                        </div>
                        <div class="navigation34">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/MicroSoft/Achievements - shomridhyaghosh-3569 _ Microsoft Docs(16).PDF"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>


                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/Microsoft.png">  
                            </div>
                            <div class="details">
                                <h3>Azure Fundamentals</h3>
                                <p>Azure Fundamentals part 1: Describe Concepts</p>
                            </div>
                        </div>
                        <div class="navigation35">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/MicroSoft/Achievements - shomridhyaghosh-3569 _ Microsoft Docs(18).PDF"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>

                </div>
                
                <div class="together">

                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/Microsoft.png">  
                            </div>
                            <div class="details">
                                <h3>Azure Fundamental</h3>
                                <p>Discuss Azure fundamental concepts</p>
                            </div>
                        </div>
                        <div class="navigation36">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/MicroSoft/Achievements - shomridhyaghosh-356_ Microsoft Docs.PDF"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>

                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/Microsoft.png">  
                            </div>
                            <div class="details">
                                <h3>Dyslexia Teaching</h3>
                                <p>Dyslexia Teaching: Part 3, In partnership with Dyslexia</p>
                            </div>
                        </div>
                        <div class="navigation37">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/MicroSoft/Achievements - shomridhyaghosh-3569 _ Microsoft Docs(3).PDF"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>

                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/Microsoft.png">  
                            </div>
                            <div class="details">
                                <h3>Azure Storage</h3>
                                <p>Explore Azure Storage services</p>
                            </div>
                        </div>
                        <div class="navigation38">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/MicroSoft/Achievements - shomridhyaghosh-3569 _ Microsoft Docs(4).PDF"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>

                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/Microsoft.png">  
                            </div>
                            <div class="details">
                                <h3>Azure database</h3>
                                <p>Explore Azure database and analytics</p>
                            </div>
                        </div>
                        <div class="navigation39">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/MicroSoft/Achievements - shomridhyaghosh-3569 _ Microsoft Docs(5).PDF"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>

                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/Microsoft.png">  
                            </div>
                            <div class="details">
                                <h3>Azure architectural</h3>
                                <p>Describe core Azure architectural communications</p>
                            </div>
                        </div>
                        <div class="navigation40">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/MicroSoft/Achievements - shomridhyaghosh-3569 _ Microsoft Docs(6).PDF"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>

                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/Microsoft.png">  
                            </div>
                            <div class="details">
                                <h3>Dyslexia Awareness</h3>
                                <p>Dyslexia Awareness: Part 1, in partnership
                                    By Dyslexia
                                    </p>
                            </div>
                        </div>
                        <div class="navigation41">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/MicroSoft/Achievements - shomridhyaghosh-3569 _ Microsoft Docs(7).PDF"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>

                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/Microsoft.png">  
                            </div>
                            <div class="details">
                                <h3>Azure</h3>
                                <p>Introduction to Azure fundaments</p>
                            </div>
                        </div>
                        <div class="navigation42">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/MicroSoft/Achievements - shomridhyaghosh-3569 _ Microsoft Docs(8).PDF"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>

                    <div class="list">
                        <div class="user">
                            <div class="imgBx">
                                <img src="../static/images/Microsoft.png">  
                            </div>
                            <div class="details">
                                <h3>Azure services</h3>
                                <p>React to state changes in your Azure services by using
                                    Event Grid</p>
                            </div>
                        </div>
                        <div class="navigation43">
                            <a href="https://www.coursera.org/courseraplus?utm_source=bg&utm_medium=sem&utm_campaign=04-CourseraPlus-IN&utm_content=04-CourseraPlus-IN&campaignid=426115656&adgroupid=1209463278664114&device=c&keyword=coursera&matchtype=e&network=o&devicemodel=&adpostion=&creativeid=&hide_mobile_promo&msclkid=18800fde6de8137ba4d66d6b928c5c38&utm_term=coursera"><i class="fa fa-search" aria-hidden="true"></i></a>
                            <a href="../static/Certificates/MicroSoft/Achievements - shomridhyaghosh-3569 _ Microsoft Docs(9).PDF"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a><i class="fa fa-times-circle" aria-hidden="true"></i></i></a>
                        </div>
                    </div>





                </div>
            </div>
        

    </div>



    <script src="../static/certificate.js"></script>
    

</body>
</html>
