<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CV</title>
	<link rel="stylesheet" type="text/css" href="../static/cv.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="resume-main">
	<div class="left-box">
		<br><br>
		<div class="profile">
			<img src="../static/images/profile 1.jpg">
		</div>
		<div class="content-box">
		<h2>Profile Info</h2>
		<hr class="hr1">
		<p class="p1">Fresher but Eager Learner, Love to Learn and Work on New Technologies, Coding my Passion.</p>
		
		<div class="clearfix"></div>
		<br>
		<h4>Contact Details</h4>
		<hr class="hr1">
		<p class="p9">Phone:<br> 8240228935</p>
		<p class="p9">Email: s.ghosh.iembca2023<br>@gmail.com</p>
		<p class="p9">Address:<br> 47D SubodhPark Basdroni Kolkata-70</p>

		<div class="clearfix"></div>
		<br><br>
		<h2>Family</h2>
		<hr class="hr1">
		<p class="p8">I Live in a Joint Family which consist of</p>
		<p class="p7">My Mother</p>
		<p class="p7">My Father</p>
		<p class="p7">My Pathernal GrandFather</p>
		<p class="p7">My Maternal <br>GrandFather</p>
		<p class="p7">My Maternal GrandMother</p>
		<p class="p7">My Uncle</p>
		<p class="p7">My Aunt</p>
		<p class="p7">and My Little Sister</p>

		<div class="clearfix"></div>
		<br>
		<h3>Language:</h3>
		<hr class="hr1">
		<p class="p2">English</p>
		<div id="progress"></div>
		<p class="p2">Hindi</p>
		<div id="progress1"></div>
        <p class="p2">Bengali</p>
		<div id="progress2"></div>

		<div class="clearfix"></div>
		<br><br>
		<h2>My Skills</h2>
		<hr class="hr1">
		<br>
		
		<div class="col-div-6"><p class="p2">C</p></div>
		<div class="col-div-6">
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle1"></i>
		</div>
			<div class="clearfix"></div>
		<div class="col-div-6"><p class="p2">C++</p></div>
		<div class="col-div-6">
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle1"></i>
		</div>
			<div class="clearfix"></div>
		<div class="col-div-6"><p class="p2">HTML</p></div>
		<div class="col-div-6">
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle1"></i>
		</div>
			<div class="clearfix"></div>
		<div class="col-div-6"><p class="p2">CSS</p></div>
		<div class="col-div-6">
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle1"></i>
		</div>
			<div class="clearfix"></div>
		<div class="col-div-6"><p class="p2">JavaScript</p></div>
		<div class="col-div-6">
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle1"></i>
			<i class="fa fa-circle circle1"></i>
			<i class="fa fa-circle circle1"></i>
		</div>
			<div class="clearfix"></div>
		<div class="col-div-6"><p class="p2">Java</p></div>
		<div class="col-div-6">
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle1"></i>
			<i class="fa fa-circle circle1"></i>
		</div>
			<div class="clearfix"></div>
		<div class="col-div-6"><p class="p2">Python</p></div>
		<div class="col-div-6">
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle1"></i>
		</div>
		<div class="clearfix"></div>
		<br>


		<h4>Certificates</h4>
		<hr class="hr1">
		<p class="p9">14 Coursera Certificates</p>
		<p class="p9">8 Simplilearn Certificates</p>
		<p class="p9">4 Tournament Certificates</p>
		<p class="p9">1 NPTEL Certificate</p>
		<p class="p9">1 IEM Learning Certificate</p>
		<p class="p9">1 IEM Webiner Certificate</p>
		<p class="p9">17 MicroSoft Training Certificates</p>

		<div class="clearfix"></div>
		<br>
		<h4>Training</h4>
		<hr class="hr1">
		<p class="p9">MEAN Development From Ardent</p>

		<div class="clearfix"></div>
		<br>
		<h4>Social Networks</h4>
		<hr class="hr1">
		<p class="p9">Facebook:<br></p><p class="p11">https://bit.ly/3bP4CYc</p>
		<p class="p9">Instagram:</p> <br><p class="p10">https://www.instagram.com/djsid81/</p>
		<p class="p9">Linkdin:<br></p> <p class="p11">https://bit.ly/3aeE42j</p>
		<p class="p9">Github:<br></p> <p class="p11">https://github.com/djsid81</p>

		<div class="clearfix"></div>
		<br><br>
		<h2>interests</h2>
		<hr class="hr1">
		<br>
		<div class="col-div-3 col3">
			<i class="fa fa-hand-lizard-o in"></i>
			<span class="inp">Chess</span>
		</div>
		<div class="col-div-3 col3">
			<i class="fa fa-leanpub in"></i>
			<span class="inp">Learn</span>
		</div>
		<div class="col-div-3 col3">
			<i class="fa fa-headphones in"></i>
			<span class="inp">Music</span>
		</div>
		<div class="col-div-3 col3">
			<i class="fa fa-futbol-o in"></i>
			<span class="inp">FootBall</span>
		</div>
		<a href="../static/Resume/Shom Resume.pdf"><button class="button2">Download&nbsp;PDF</button></a>
	</div>

	</div>

	<div class="right-box">
		<h1>
			Shomridhya<br>
			<span>Ghosh</span>
		</h1>
		<p class="p3">B.C.A Graduate from Institute of Engineering and Management, Kolkata</p>

		<br>	
		<h2 class="heading">My Education</h2>
		<hr class="hr2">
		<br>
		<div class="col-div-4">
			<p class="p5">2018</p>
			<span class="span1">Amrita Vidyalayam</span>
		</div>
		<div class="col-div-8">
			<p class="p5">Class 10</p>
			<span class="span1">I Completed my Class 10 with 92% marks from Amrita Vidyalayam which is affiliated under CBSE Board.</span>
		</div>
		<div class="clearfix"></div>
		<br>
		<div class="col-div-4">
			<p class="p5">2020</p>
			<span class="span1">Amrita Vidyalayam</span>
		</div>
		<div class="col-div-8">
			<p class="p5">Class 12</p>
			<span class="span1">I Completed my Class 12 with 81% marks from Amrita Vidyalayam which is affiliated under CBSE Board.</span>
		</div>
		<div class="clearfix"></div>
		<br>
		<div class="col-div-4">
			<p class="p5">2020-2023</p>
			<span class="span1">I.E.M</span>
		</div>
		<div class="col-div-8">
			<p class="p5">Graduation</p>
			<span class="span1">I am Currently Pursuing my B.C.A Degree from Institute of Engineering and Management.</span>
		</div>


		<div class="clearfix"></div>
		<br>	
		<h2 class="heading">My Internships</h2>
		<hr class="hr2">

		
		<div class="clearfix"></div>
		<br>
		<div class="col-div-4">
			<p class="p5">2020</p>
			<span class="span1">Shyamali Marketing</span>
		</div>
		<div class="col-div-8">
			<p class="p5">Marketing Internship (UnPaid)</p>
			<span class="span1">I worked 1 Month in the Company as a Marketing Intern. During this time I used to Look over the Analitics and made Reports about how the Ads assigned to me were working.</span>
		</div>
		<div class="clearfix"></div>
		<br>	
		<div class="col-div-4">
			<p class="p5">2021</p>
			<span class="span1">E.V.S</span>
		</div>
		<div class="col-div-8">
			<p class="p5">Marketing Internship (Paid)</p>
			<span class="span1">Initially I Joined the Company as a Telecaller.
				    Working fews months as a caller I found out the whole process 
				    in the company was manual and time consuming. So I proposed 
				    and developed an application to automate the process. In 
				    Python I build 2 Softwares, one does Web Scraping from Just Dial, IndiaMart,
					Google Maps etc and other automated the process of Email and Whatsapp Messages.
					I also found out an Excel VBA code which converts Phone Numbers in Excel
					into VCF files which can directly be imported in mobile phones by a simple
					click of a button. All these increased the efficiancy of Work a lot and intern 
					increased the revenue of the Company by 70%.  
			 </span>
		</div>


		<div class="clearfix"></div>
		<br>
		<div class="col-div-4">
			<p class="p5">2022</p>
			<span class="span1">E.V.S</span>
		</div>
		<div class="col-div-8">
			<p class="p5">Frontend Development Internship (Paid)</p>
			<span class="span1">During this Intership I learned Html, CSS and Javascript and developed a Website for Cozzos India which is hosted in the domain of CozzosIndia.com</span>
		</div>
		<div class="clearfix"></div>
		<br>	
		<h2 class="heading">My Projects</h2>
		<hr class="hr2">
		<br>
		<div class="col-div-4">
			<p class="p6">2021</p>
			<span class="span1">Website</span>
		</div>
		<div class="col-div-8">
			<p class="p6">Basic Website</p>
			<span class="span1">During this time I built a Basic Website for my Uncle's Stone and Arstrology Shop which we wanted to set up.</span>
		</div>
		<div class="col-div-4">
			<p class="p6">2021-2022</p>
			<span class="span1">Web Development</span>
		</div>
		<div class="col-div-8">
			<p class="p6">Resume Website</p>
			<span class="span1">During this time I built this Portfolio Website which you are seening right now. This site contains :- 
				<p>1) Landing Page 
				<br> 2) A Vertual Assistent 
				<br> 3) Digital Card
				<br> 4) CV Section 
				<br> 5) Certificate Section 
				<br> 6) 9 Basic Web Projects
				<br> 7) Contact Form</p>
			</span>
		</div>
		<br>
		<div class="col-div-4">
			<p class="p6">2022</p>
			<span class="span1">Barcode Scanner</span>
		</div>
		<div class="col-div-8">
			<p class="p6">Minor Project (On Going)</p>
			<span class="span1">In this Project we will be making a Barcode Scanner for Shoping Malls which will enable Customers to scan the bar code directly from there mobile phones and generate the invoices thus saving a lot of time standing in the Queue waiting this to be done.</span>
		</div>

		<div class="clearfix"></div>
		<br>	
		<h2 class="heading">Other Works</h2>
		<hr class="hr2">
		<br>
		<div class="col-div-4">
			<p class="p5">2020-2022</p>
			<span class="span1">Designing</span>
		</div>
		<div class="col-div-8">
			<p class="p5">PowerPoint</p>
			<span class="span1">During this time I learned Designing Isometric Designs in Powerpoint, Corporate PPTs and a lot more. I refered from several Youtube Channels and made good PPTs for many of my friends and relatives some of which you can see by clicking this button.<a href="PowerPoint.html"><button class="button1">Click Me</button></a></span>
		</div>
		<br>
		<br>
		<div class="clearfix"></div>
		<div class="col-div-4">
			<p class="p6">2021-2022</p>
			<span class="span1">Digital Marketing</span>
		</div>
		<div class="col-div-8">
			<p class="p6">Friend's Startup</p>
			<span class="span1">During this time I worked in one of my friend's Startup which is Walk nd Talk Media where I learned how to Customized and Run Facebook Ads for Meme Based Content to attract Targeted Audience.</span>
		</div>


		
			
	</div>
	
	<div class="clearfix"></div>
	

</div>

</body>
</html>