<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/P1Menu.css">
    <title>Clock and Converter App: Menu</title>
</head>
<body>
    <ul>
        <li style="--i:6;"><a href="clock.html">Analog and Digital Clock</a></li>
        <li style="--i:5;"><a href="alarm.html">Alarm</a></li>
        <li style="--i:4;"><a href="stopwatch.html">StopWatch</a></li>
        <li style="--i:3;"><a href="calculator.html">Calculator</a></li>
        <li style="--i:2;"><a href="currency.html">Currency Converter</a></li>
        <li style="--i:1;"><a href="unit.html">Unit Converter</a></li>
    </ul>
</body>
</html>