<!DOCTYPE html>
<html>
    <head>
        <title>PowerPoint</title>
        <link rel="stylesheet" type="text/css" href="../static/PowerPoint.css">
    </head>

    <body>
        <div class="ab">
            <div class="section">
                <div class="box">
                    <span></span>
                    <h2><a href="../static/Presentation/EVS Old Presentation.pptx">01</a><br><span>E.V.S PPT</span></h2>
                </div>
        
                <div class="box">
                    <span></span>
                    <h2><a href="../static/Presentation/EVS Ladakh Project SlideShow.ppsx">02</a><br><span>Ladakh PPT</span></h2>
                </div>
            </div>
    
            <div class="section2">
                <div class="box">
                    <span></span>
                    <h2><a href="../static/Presentation/Cozzos PPt.pptx">03</a><br><span>Cozzos PPT</span></h2>
                </div>
                
        
                <div class="box">
                    <span></span>
                    <h2><a href="../static/Presentation/Jharkhand Project - A4 Size.pptx">04</a><br><span>Jharkhand</span></h2>
                </div>
            </div>
    
            <div class="section"3>
                <div class="box">
                    <span></span>
                    <h2><a href="../static/Presentation/StartUp PPT.pptx">05</a><br><span>Startup PPT</span></h2>
                </div>

                <div class="box">
                    <span></span>
                    <h2><a href="../static/Presentation/Total Security PPT.pptx">06</a><br><span>Security PPT</span></h2>
                </div>
            </div>
        </div>

    </body>
</html>