<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/Project.css">
    <title>Project List</title>
</head>
<body>
    <div class="Change">
        <div class="Space1">
            <div class="card">
                <div class="imgBx">
                    <img src="../static/images/clockndconverter.jpg">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Clock & Converter<br><span>This app contains a Clock and some Unit and Currency Converters which are used in day to day basis</span></h2>
                        <div class="data">
                            <h3>42<br><span>Hr Worked</span></h3>
                            <h3>420<br><span>Lines of Code</span></h3>
                            <h3>Live<br><span>Status</span></h3>
                        </div>
                        <div class="actionBtn">
                            <button><a href="P1Menu.html">View</a></button>
                            <button><a href="base.html">Download</a></button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="card">
                <div class="imgBx">
                    <img src="../static/images/tictactoe.jpg">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Tic Tac Toe<br><span>This the game of Tic Tac Toe. It's a simple single player game, Play Against Computer</span></h2>
                        <div class="data">
                            <h3>342<br><span>Hr Worked</span></h3>
                            <h3>1200<br><span>Lines of Code</span></h3>
                            <h3>Live<br><span>Status</span></h3>
                        </div>
                        <div class="actionBtn">
                            <button><a href="tictactoe.html">Play</a></button>
                            <button>Download</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="imgBx">
                    <img src="../static/images/ToDo.jpeg">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>To Do : App<br><span>It's a ToDo App which Remembers All of Our Tasks once we set them all.</span></h2>
                        <div class="data">
                            <h3>402<br><span>Hr Worked</span></h3>
                            <h3>1245<br><span>Lines of Code</span></h3>
                            <h3>Live<br><span>Status</span></h3>
                        </div>
                        <div class="actionBtn">
                            <button><a href="ToDo.html">View</a></button>
                            <button>Download</button>
                        </div>
                    </div>
                </div>
            </div>

    
        </div>
    
        <div class="Space2">


            <div class="card">
                <div class="imgBx">
                    <img src="../static/images/puzzle.png">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Puzzle : Game<br><span>It is a Simple Puzzle Game.Simply Align all of the Numbers from 1 to 15 to Win.</span></h2>
                        <div class="data">
                            <h3>42<br><span>Hr Worked</span></h3>
                            <h3>420<br><span>Lines of Code</span></h3>
                            <h3>Live<br><span>Status</span></h3>
                        </div>
                        <div class="actionBtn">
                            <button><a href="puzzle.html">View</a></button>
                            <button><a href="base.html">Download</a></button>
                        </div>
                    </div>
                </div>
            </div>
    

            <div class="card">
                <div class="imgBx">
                    <img src="../static/images/Memory.jpg">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Memory : Game<br><span>It is the Game to Test Our Memory. All of the Images are shown in the Begining, Remember them and select the items in pairs.</span></h2>
                        <div class="data">
                            <h3>342<br><span>Hr Worked</span></h3>
                            <h3>1200<br><span>Lines of Code</span></h3>
                            <h3>Live<br><span>Status</span></h3>
                        </div>
                        <div class="actionBtn">
                            <button><a href="memory.html">Play</a></button>
                            <button>Download</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="imgBx">
                    <img src="../static/images/snake.jpeg">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Snake : Game <br><span>It's the simple Snake Game which we all Played in our Childhood on Nokia 33 10</span></h2>
                        <div class="data">
                            <h3>421<br><span>Hr Worked</span></h3>
                            <h3>1241<br><span>Lines of Code</span></h3>
                            <h3>Live<br><span>Status</span></h3>
                        </div>
                        <div class="actionBtn">
                            <button type="button"><a href="snakegame.html">Play</a></button>
                            <button>Download</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="Space3">

            <div class="card">
                <div class="imgBx">
                    <img src="../static/images/racing.jpeg">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Racing : Game<br><span>It's a Simple Single Player Racing Game.Keep in trace and Avoid the Cars to keep in Pace.</span></h2>
                        <div class="data">
                            <h3>200<br><span>Hr Worked</span></h3>
                            <h3>1500<br><span>Lines of Code</span></h3>
                            <h3>Live<br><span>Status</span></h3>
                        </div>
                        <div class="actionBtn">
                            <button><a href="racing.html">Play</a></button>
                            <button>Download</button>
                        </div>
                    </div>
                </div>
            </div>




            <div class="card">
                <div class="imgBx">
                    <img src="../static/images/flappyBird.jpeg">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Flappy Bird : Game<br><span>The Classic Flappy Bird which we all played. Do the Mouse Click to keep the Bird in the Air. Avoid the Obstacles to score points. </span></h2>
                        <div class="data">
                            <h3>402<br><span>Hr Worked</span></h3>
                            <h3>1245<br><span>Lines of Code</span></h3>
                            <h3>Live<br><span>Status</span></h3>
                        </div>
                        <div class="actionBtn">
                            <button><a href="flappyBird.html">Play</a></button>
                            <button>Download</button>
                        </div>
                    </div>
                </div>
            </div>
    

            <div class="card">
                <div class="imgBx">
                    <img src="../static/images/samurai.jpeg">
                </div>
                <div class="content">
                    <div class="details">
                        <h2>Fighting : Game<br><span>It's a Simple Fighting Game. Defeat the Other Player to Claim the Victory.</span></h2>
                        <div class="data">
                            <h3>42<br><span>Hr Worked</span></h3>
                            <h3>1200<br><span>Lines of Code</span></h3>
                            <h3>Live<br><span>Status</span></h3>
                        </div>
                        <div class="actionBtn">
                            <button><a href="fighting.html">Play</a></button>
                            <button>Download</button>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

    </div>




</body>
</html>