<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stopwatch.css">
    <title>StopWatch</title>
</head>
<body>
    <div class="container">
        <div class="watch">
            <div class="outer-circle">
                <div class="inner-circle">
                    <span class="text minutes">0 :</span>
                    <span class="text sec">&nbsp; 0 :</span>
                    <span class="text msec">&nbsp; 0</span>
                </div>
            </div>
            <div class="button-wrapper">
                <button class="button reset hidden">Reset</button>
                <button class="button play">Play</button>
                <button class="button lap hidden">Lap</button>
            </div>
        </div>
        <ul class="laps">
            <button class="lap-clear-button hidden">Clear All</button>
        </ul>>
    </div>

    <script src="../static/stopwatch.js"></script>

</body>
</html>